* {
  box-sizing: border-box;
}

body {
}

.slides {
  position: relative;
  width: 1280px;
  height: 720px;
  margin: 0 auto;
}

.slides > .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slides > .slide:not(.first) {
  opacity: 0;
}

.slides > .slide > * {
  position: absolute;
}

.slides > .slide > .masthead > div {
  height: 120px;
}
