body.animate .slides {
  perspective: 1280px;
  -webkit-perspective: 1280px;
}

body.animate .slides > .slide {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

body.animate .slide {
  opacity: 0;
}

body.animate .slide.animate {
  -webkit-transition:
    opacity .15s ease-in-out,
    -webkit-transform .15s ease-in-out;
  transition:
    opacity .15s ease-in-out,
    transform .15s ease-in-out;
}

body.animate .slide.slide-active {
  opacity: 1;
}

body.animate .slide.slide-in:not(.slide-active) {
  transform: translate3d(30px, 15px, -30px) rotateY(-10deg);
}

body.animate .slide.slide-out:not(.slide-active) {
  transform: translate3d(-30px, -15px, -30px) rotateY(10deg);
}
