body {
  color: rgb(51, 51, 51);
}

body {
  background: #eee;
}

.slides {
  background: #fff;
}

strong, h1, h2, h3, .text-strong {
  color: #000;
}

.text-brand {
  color: rgb(50, 84, 123);
}

.text-muted {
  color: rgb(144, 144, 144);
}

.text-brand.text-muted, .text-brand .text-muted {
  color: #789;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-size: 42px;
  font-family: 'klavika-web',"Klavika Web Basic",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-style: italic;
  text-align: inherit;
}

h1 {
  font-size: 64px;
}

.text-giant {
  font-size: 96px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-normal {
  font-weight: normal;
}
